body {
  text-align: center;
  margin: 0px;
}
.content {
  background-color: #F7F7F7;
}
.center {
  margin: 0px auto;
  width: 800px;
  padding:30px;
}
.logo {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 200px;
  display: inline-block;
  margin-bottom:40px;
}
.btn {
  font-family:"Proxima Nova", sans-serif;
  font-weight: 100;
  padding: 10px;
  width: 250px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9bb43b;
  display: inline-block;
}
.signup {
  text-align: center;
  padding-top: 30px;
}
.final {
  background-color:
}
h1 {
  font-family:"Proxima Nova Thin", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust: 0.488;
  font-weight: 100;
  font-style: normal;
  color: #898686;
  width: 600px;
  margin: 0px auto;
  padding-bottom: 30px;
}
ul.items {
  margin: 0px auto;
  width: 800px;
  padding:30px 0px;
  text-align:center;
}
ul.items li {
  display:inline-block;
  list-style:none;
  text-align:center;
  width:200px;
  margin:20px 20px;
  vertical-align:top;
}
ul.items li img {
  margin: 0px auto;
  display: block;
  margin-bottom: 10px;
}
ul.items li span {
  font-family:"Proxima Nova", sans-serif;
  font-weight: 100;
  color: #8f8f8f;
}
.email {
  padding: 10px;
  border: 1px solid #C4C4C4;
  width: 200px;
  margin-top: 20px;
  display:inline-block;
}
.btn2 {
  border:0px;
  font-family:"Proxima Nova", sans-serif;
  font-weight: 100;
  padding: 10px;
  font-size:12px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9bb43b;
  display: inline-block;
  font-size:16px;
}
p {
  font-family:"Proxima Nova", sans-serif;
  font-weight: 100;
    color: #8f8f8f;
  line-height:30px;
}