body {
  text-align: center;
  margin: 0px;
}
.content {
  background-color: #F7F7F7;
}
.center {
  margin: 0px auto;
  width: 800px;
  padding:30px;
}
.logo {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 200px;
  display: inline-block;
  margin-bottom:40px;
}
.btn {
  font-family:"Proxima Nova", sans-serif;
  color: #FFF;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  padding: 14px 40px;
  outline:none;
  border-radius: 2px;
  border:0;
  cursor:pointer;
  -webkit-font-smoothing: antialiased;
  background-color: #9BB43B;
}
.btn:active {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
  background-color: #829929;
}
.btn-small {
  padding:8px 40px;
}
.signup {
  text-align: center;
  padding-top: 30px;
}
.final {
  background-color:
}
h1 {
  font-family:"Proxima Nova Thin", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust: 0.488;
  font-weight: 100;
  font-style: normal;
  color: #898686;
  width: 600px;
  margin: 0px auto;
  padding-bottom: 30px;
}
ul.items {
  margin: 0px auto;
  width: 800px;
  padding:30px 0px;
  text-align:center;
}
ul.items li {
  display:inline-block;
  list-style:none;
  text-align:center;
  width:200px;
  margin:20px 20px;
  vertical-align:top;
}
ul.items li img {
  margin: 0px auto;
  display: block;
  margin-bottom: 10px;
}
ul.items li span {
  font-family:"Proxima Nova", sans-serif;
  font-weight: 100;
  color: #8f8f8f;
}
.email {
  padding: 10px;
  border: 1px solid #C4C4C4;
  width: 200px;
  margin-top: 20px;
  display:inline-block;
}
p {
  font-family:"Proxima Nova", sans-serif;
  font-weight: 100;
  color: #8f8f8f;
  line-height:30px;
}